<div style="height:5px">
    <mat-progress-bar *ngIf="isImporting" mode="indeterminate"></mat-progress-bar>
</div>

<div class="w-uploader" *ngIf="!isImporting">
    <ngx-file-drop [contentClassName]="'w-uploader-content'" [dropZoneClassName]="'w-uploader-dropzone'"
        [multiple]="false" headertext="" (onFileDrop)="dropped($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div libFlexRow libFlexRowAlign="center">
                <div libFlexColumn>
                    <span>Drop hotel json here</span>
                </div>
                <div libFlexColumn>
                    <button mat-button (click)="openFileSelector()">
                        Or choose a file
                    </button>
                </div>
            </div>
        </ng-template>
    </ngx-file-drop>
</div>

<div class="push-top-lg">

    <div libFlexRow>
        <div libFlexColumn libFlexFill>
            <div class="mat-subheading-2">
                Browse Hotels
            </div>
        </div>
        <div libFlexColumn *ngIf="isFetching">
            <mat-spinner [diameter]="15"></mat-spinner>
        </div>
    </div>

    <div class="w-card" libFlexRow *ngFor="let hotel of hotels; let first = first" [class.push-top]="true">
        <div libFlexColumn [libFlexSize]="'120px'" *ngIf="hotel.elements.images.value.length">
            <img [src]="hotel.elements.images.value[0].url">
        </div>
        <div libFlexColumn libFlexFill>
            <div class="mat-title">
                {{ hotel.system.name}}
            </div>
            <div class="caption">
                {{ hotel.elements.city.value}} | <span
                    *ngIf="hotel.elements.country.linkedItems.length">{{hotel.elements.country.linkedItems[0].system.name}}</span>
            </div>
        </div>
        <div libFlexColumn>
            <button [routerLink]="'/hotel'" mat-flat-button color="primary">Details</button>
        </div>
    </div>
</div>